ACTION=="add", SUBSYSTEM=="block", KERNEL=="nvme[0-26]n1", ATTRS{model}=="Amazon Elastic Block Store              ", PROGRAM+="/usr/local/sbin/ebs-nvme-mapping /dev/%k", SYMLINK+="%c"