SUBSYSTEM=="block", KERNEL=="nvme[0-9]*n[0-9]*", ATTRS{model}=="Amazon Elastic Block Store", PROGRAM+="/usr/local/bin/ebs-nvme-mapping /dev/%k" SYMLINK+="%c"
