ACTION=="add", SUBSYSTEM=="block", KERNEL=="nvme[1-26]n1", ATTRS{model}=="Amazon Elastic Block Store              ", RUN+="/usr/local/sbin/ebs-nvme-mapping /dev/%k" SYMLINK+="%c"
